@mixin flex($type: row nowrap, $justify: center, $align: center) {
    display: flex;
    flex-flow: $type;
    justify-content: $justify;
    align-items: $align;
}

@mixin button($width, $height, $background: transparent) {
    background: $background;
    width: $width;
    height: $height;
    border: none;
}

@mixin font( $weight: normal, $family: $fontPrimary) {
    font-family: $family;
    font-weight: $weight;
}

@mixin borderShadow() {
    box-shadow: 10px 30px 25px $shadowColor;
}

@mixin gradient() {
    background: rgb(226,218,240);
    background: linear-gradient(90deg, rgba(226,218,240,1) 76%, rgba(254,254,254,1) 91%);
}